# Package VS Code extension into .vsix files for manual testing

name: Package VSIX Manually

on:
  workflow_dispatch:

jobs:
  package:
    strategy:
      matrix:
        include:
          - target: win32-x64
            pasls_dir: pasls-x86_64-win64
          - target: win32-arm64
            pasls_dir: pasls-x86_64-win64
          - target: linux-x64
            pasls_dir: pasls-x86_64-linux
          - target: linux-arm64
            pasls_dir: pasls-aarch64-linux
          - target: darwin-x64
            pasls_dir: pasls-x86_64-darwin
          - target: darwin-arm64
            pasls_dir: pasls-aarch64-darwin

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install System Dependencies
        run: sudo apt-get update && sudo apt-get install -y libsecret-1-dev

      - name: Install Dependencies
        run: npm ci

      - name: Install @vscode/vsce
        run: npm i -g @vscode/vsce

      - name: Prepare Platform Binary
        run: |
          cd bin
          find . -mindepth 1 -maxdepth 1 -type d ! -name "${{ matrix.pasls_dir }}" ! -name "debug" -exec rm -rf {} +

      - name: Build and Package
        id: asset
        run: |
          vsce package --target ${{ matrix.target }}
          echo "vsix_path=$(ls *.vsix)" >> $GITHUB_OUTPUT

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fpctoolkit-${{ matrix.target }}
          path: ${{ steps.asset.outputs.vsix_path }}
